{% extends "TelmaDashboardBundle::layout.html.twig" %}

{% block title %}
Policy edit - {{ parent() }}
{% endblock %}

{% block telmadashboard_body %}

<div class="content-box-large">
	<div class="panel-heading">
		<div class="panel-title">Édition du fichier policy</div>
	<div class="panel-options">
		<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
		<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
	</div>
	</div>

	<div class="panel-body">
		<form class="form-vertical">
		<div class="form-group">
			<label for="textearea">Policy file : </label>
			<textarea id="textearea" type="textarea" class="form-control input-lg" style="font-size: 13px;" rows="30" placeholder="L'apercu du fichier policy se trouvera ici">{{ matrice }}</textarea>
		</div>
		<div class="form-group">
			<button id="save" onclick="saveTextAsFile()" class="btn btn-default" type="button">Save</button>
		</div>
		</form>
	</div>
</div>

{% endblock %}