
{% extends "Dashboard::TelmaDashboardBundle::reports.html.twig" %}

{% block telmadashboard_reports_chart %}

<div id="chart">
  <canvas id="canvas" width="1000" height="600">
    No Love for HTML5 eh?
  </canvas>
</div>

{% endblock %}